body {
    background-color: oldlace;
    height: fit-content;
    border: solid;
    border-color: oldlace;
}
#blocks {
    background-color: whitesmoke;
    top: 50%;

    column-count: 4;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    padding-left: 15%;
    padding-right: 15%;
}
.block {
    height: 12vw;
    width: 12vw;

    background-color: white;
    border: black;
    border-style: solid;

    position: relative;
    text-align: center;
}

.blockLetter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    color: black;
}
